  <link rel="stylesheet" href="styles/css/ionicons.min.css" type="text/css">
  <!-- <link href="styles/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="styles/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">S.D.I</a>
      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a class="modal-trigger waves-effect waves-light" href="#modal1"><i class="ion-ios-gear"> </i> Param&egrave;tres</a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="ion-android-menu"></i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container blur_container">
      <br><br>
      <h3 class="header center grey-text">
        <i class="ion-ios-settings-strong"></i>
      </h3>
      <div class="row center">
        <div class="col s8">
          <h3><a href="#" id="start_service" class="btn-large waves-effect waves-light blue" style="width:100%"><i class="ion-power">  Demarer Service Detection</i></a></h3>
        </div>
        <div class="col s4">
          <h3><a href="#" id="start_service" class="btn-large btn-flat" style="width:100%"><i class="ion-cube white-text"></i></a></h3>
        </div>

        <div class="col s8">
          <h3><a href="#" id="start_service" class="btn-large waves-effect waves-light grey" style="width:100%"><i class="ion-flash-off">  Arreter Service</i></a></h3>
        </div>
        <div class="col s4">
          <h3><a href="#" id="start_service" class="btn-large waves-effect waves-light btn-floating grey"><i class="ion-flash-off">  ON/OFF</i></a></h3>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-title"><h4 class="center-align grey darken-1 white-text"> ZONE 1 : GPIO18</h4></div>
        <div class="container">
          <div class="row center">
            <div class="col s4">
              <h3><a href="#" data-status="on" data-gpio="18" class="triggerbtn btn-large waves-effect waves-light" style="width:100%;background-color:#2fca14"><i class="ion-power"> ON</i></a></h3>
            </div>
            <div class="col s4">
              <h3><a href="#" data-status="off" data-gpio="18" class="triggerbtn btn-large waves-effect waves-light grey darken-1" style="width:100%"><i class="ion-power"> OFF</i></a></h3>
            </div>
            <div class="col s4">
              <h3><a href="#" id="status_zone1" class="btn-large btn-floating" ><i class="ion-ios-lightbulb"></i></a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title"><h4 class="center-align grey darken-1 white-text"> ZONE 2 : GPIO 22</h4></div>
        <div class="container">
          <div class="row center">
            <div class="col s4">
              <h3><a href="#" data-status="on" data-gpio="22" class="triggerbtn btn-large waves-effect waves-light" style="width:100%;background-color:#2fca14"><i class="ion-power"> ON</i></a></h3>
            </div>
            <div class="col s4">
              <h3><a href="#" data-status="off" data-gpio="22" class="triggerbtn btn-large waves-effect waves-light grey darken-1" style="width:100%"><i class="ion-power"> OFF</i></a></h3>
            </div>
            <div class="col s4">
              <h3><a href="#" id="status_zone1" class="btn-large btn-floating" ><i class="ion-ios-lightbulb"></i></a></h3>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-title"><h4 class="center-align grey darken-1 white-text"> Temp Hum</h4></div>
        <div class="container">
          <div class="row center">
          <div id="mychart">
          </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="section">
    </div>
    <br><br>
    <div class="section">
    </div>
  </div>
  <footer class="page-footer grey darken-3">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s8">
            Made by <a class="orange-text text-lighten-3" href="#"> P.B.M</a>
          </div>
          <div class="col s4 right-align">
           <a class="modal-trigger waves-effect waves-light btn btn-floating orange" href="#modal1"><i class="ion-ios-gear"></i></a>
         </div>
       </div>

     </div>
   </div>
 </footer>
 <div id="modal1" class="modal bottom-sheet" style="max-height:90%">
  <div class="modal-content">
    <h5><i class="ion-ios-gear"> </i> Configuration</h5>
    <form class="col s12" id="formsettings">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix ion-link"></i>
          <input name="url" id="icon_prefix" type="text" class="validate" placeholder="192.168.43.205">
          <label for="icon_prefix">Server</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix ion-ios-circle-filled"></i>
          <input name="gpio1" id="gpio1" type="text" class="validate" placeholder="18">
          <label for="gpio1">GPIO 1</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix ion-ios-circle-filled"></i>
          <input name="gpio2" id="gpio2" type="text" class="validate" placeholder="22">
          <label for="gpio2">GPIO 2</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix ion-clock"></i>
          <input name="timeout" id="timeout" type="text" class="validate" placeholder="60">
          <label for="timeout">Timeout</label>
        </div>
      </div>
    </form>
    <h3><a href="#" id="save_parameter" class="btn-large blue"  style="width:100%">Enregistrer <i class="ion-cube white-text"></i></a></h3>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
  </div>
</div>
