  .wallpaper{
    background-image: url('../img/wall.jpg');
    background-repeat: no-repeat;
    //background-position: right top;
    background-attachment: fixed;
    background-size: cover;
  }
  .card{
    border-radius: 40px;
    background-color: rgba(15, 14, 14, 0.96);
  }
  .blur_container{
    background: rgba(0, 0, 0, 0.54);
    padding-left: 16px;
    padding-right: 16px;
  }